<div class="container">

  <h1>Domaine de l’Aube des Temps : Détente et Nature</h1>

  <p>Entre Narbonne et Carcassonne, à Raissac d’Aude, au confluent de l’Aude et de l’Orbieu, le domaine joliment nommé «l’Aube des temps» produit une gamme de vins qui chantent au palais, parfaits pour la convivialité des vacances.<br>
  Les vacances et la convivialité sont devenus le principal parti pris du  domaine et naturellement nous avons créé 5 gîtes d’exception qui inspirent le calme et l’appel au repos. <br>
  Avec des équipements dignes des plus grands complexes hôteliers, le domaine a su développer une clientèle de vacanciers, qui n’hésitent plus à réserver pour l’année suivante.</p>

</div>


<%= link_to "Gîtes", houses_path %>
